// Css para el componente dropdowun menu

.dropdown-main {
    background-color: rgba(0, 0, 255, 0.615);
    padding: 15px 45px;
    border: none;
    outline: 1px;
    border-radius: 10px;
    color: white;
}